@model List<MyMongoProje.Dtos.ResultCustomerDto>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Bakiye</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {<tr>
            <td>@item.CustomerId</td>
            <td>@item.CustomerName @item.CustomerSurname</td>
            <td>@item.CustomerBalance</td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerId">Sil</a></td>
            <td><a href="/Customer/UpdateCustomer/@item.CustomerId">Güncelle</a></td>
        </tr>
            
        }
    </table>

    <a href="/Customer/CreateCustomer" class="btn btn-primary">Yeni Müşteri</a>
</div>
